### Import of libraries and datasets

In [12]:
import numpy as np
import pandas as pd

In [13]:
articles = pd.read_parquet("generated_data/articles_with_fabric_namenum.parquet")
articles

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc,fabric_num,fabric_name
0,108775015,108775,12855,253,9,0,1010016,0,9,0,...,0,1,0,16,30,1002,2,8834,[0],[jersey]
1,108775044,108775,12855,253,9,0,1010016,0,10,2,...,0,1,0,16,30,1002,2,8834,[0],[jersey]
2,108775051,108775,44846,253,9,0,1010017,3,11,11,...,0,1,0,16,30,1002,2,8834,[0],[jersey]
3,110065001,110065,8159,306,13,4,1010016,0,9,0,...,7,1,0,61,5,1017,4,8243,[1],[microfibre]
4,110065002,110065,8159,306,13,4,1010016,0,10,2,...,7,1,0,61,5,1017,4,8243,[1],[microfibre]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105537,953450001,953450,24043,302,14,7,1010014,6,9,0,...,2,3,3,26,16,1021,13,28026,"[4, 13, 3]","[cotton, knit, elastic]"
105538,953763001,953763,24027,253,9,0,1010016,0,9,0,...,0,1,0,2,15,1005,0,28025,[8],[polyester]
105539,956217002,956217,24040,265,1,2,1010016,0,9,0,...,0,1,0,18,12,1005,0,28024,[0],[jersey]
105540,957375001,957375,24041,72,48,3,1010016,0,9,0,...,1,2,2,52,25,1019,1,28023,"[5, 6]","[plastic, hair]"
105541,959461001,959461,45874,265,1,2,1010016,0,11,11,...,0,1,0,18,12,1005,0,43403,"[4, 0]","[cotton, jersey]"

In [14]:
a2 = pd.read_csv("data/articles.csv")

In [15]:
style_cols = ["graphical_appearance_name", "perceived_colour_master_name", "section_name", "index_group_name"]
for col in style_cols:
    print(col)
    print(a2[col].unique())
    print()

graphical_appearance_name
['Solid' 'Stripe' 'All over pattern' 'Melange' 'Transparent' 'Metallic'
 'Application/3D' 'Denim' 'Colour blocking' 'Dot' 'Other structure'
 'Contrast' 'Treatment' 'Check' 'Chambray' 'Front print'
 'Glittering/Metallic' 'Mixed solid/pattern' 'Placement print'
 'Other pattern' 'Neps' 'Embroidery' 'Lace' 'Jacquard' 'Unknown' 'Argyle'
 'Slub' 'Mesh' 'Sequin' 'Hologram']

perceived_colour_master_name
['Black' 'White' 'Beige' 'Grey' 'Blue' 'Pink' 'Lilac Purple' 'Red' 'Mole'
 'Orange' 'Metal' 'Brown' 'Turquoise' 'Yellow' 'Khaki green' 'Green'
 'undefined' 'Unknown' 'Yellowish Green' 'Bluish Green']

section_name
['Womens Everyday Basics' 'Womens Lingerie'
 'Womens Nightwear, Socks & Tigh' 'Baby Essentials & Complements'
 'Men Underwear' 'Mama' 'Womens Small accessories' 'Men H&M Sport'
 'Kids Boy' 'Divided Basics' 'Girls Underwear & Basics' 'Mens Outerwear'
 'Womens Big accessories' 'Divided Accessories'
 'Womens Swimwear, beachwear' 'Divided Selected' 'Boys Underwear & Basics'
 'Contemporary Street' 'Contemporary Casual' 'Men Accessories'
 'Men Suits & Tailoring' 'Womens Everyday Collection' 'Men Shoes'
 'Young Boy' 'H&M+' 'Divided Collection' 'Ladies Denim'
 'Contemporary Smart' 'Womens Trend' 'Kids Outerwear' 'Young Girl'
 'Womens Shoes' 'Womens Tailoring' 'Divided Projects' 'Denim Men'
 'Men Other' 'Womens Jackets' 'Men Other 2' 'Baby Boy' 'Womens Casual'
 'Kids Accessories, Swimwear & D' 'Ladies H&M Sport' 'Kids & Baby Shoes'
 'Baby Girl' 'Kids Girl' 'Divided Complements Other' 'Womens Premium'
 'Special Collections' 'Kids Sports' 'Men Project' 'Men Edition'
 'Collaborations' 'Divided Asia keys' 'EQ Divided' 'Kids Local Relevance'
 'Ladies Other']

index_group_name
['Ladieswear' 'Baby/Children' 'Menswear' 'Sport' 'Divided']

In [16]:
customers = pd.read_parquet("data/customers.parquet")
customers

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,6883939031699146327,-1,-1,0,0,49,6305
1,11246327431398957306,-1,-1,0,0,25,33726
2,18439897732908966680,-1,-1,0,0,24,3247
3,18352672461570950206,-1,-1,0,0,54,168643
4,18162778555210377306,1,1,0,1,52,168645
...,...,...,...,...,...,...,...
1371975,7551062398649767985,-1,-1,0,0,24,50351
1371976,9305341941720086711,-1,-1,0,0,21,80169
1371977,10160427316885688932,1,1,0,1,21,106737
1371978,2551401172826382186,1,1,0,1,18,111894
1371979,16929951892735599169,-1,-1,1,0,65,352898

In [17]:
transactions = pd.read_parquet("data/transactions_train.parquet")
transactions

,t_dat,customer_id,article_id,price,sales_channel_id,week
25784,2018-09-20,1728846800780188,519773001,0.028458,2,0
25785,2018-09-20,1728846800780188,578472001,0.032525,2,0
5389,2018-09-20,2076973761519164,661795002,0.167797,2,0
5390,2018-09-20,2076973761519164,684080003,0.101678,2,0
47429,2018-09-20,2918879973994241,662980001,0.033881,1,0
...,...,...,...,...,...,...
31774722,2020-09-22,18439937050817258297,891591003,0.084729,2,104
31774723,2020-09-22,18439937050817258297,869706005,0.084729,2,104
31779097,2020-09-22,18440902715633436014,918894002,0.016932,1,104
31779098,2020-09-22,18440902715633436014,761269001,0.016932,1,104
31780475,2020-09-22,18443633011701112574,914868002,0.033881,1,104

In [18]:
from scipy.sparse import csr_matrix
from sklearn.metrics.pairwise import cosine_similarity

Limit transactions to THIS FALL 
TRAIN = WEEK 100-103
TEST = WEEK 104

In [19]:
tr = transactions.merge(articles, on="article_id")
tr

,t_dat,customer_id,article_id,price,sales_channel_id,week,product_code,prod_name,product_type_no,product_type_name,...,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc,fabric_num,fabric_name
0,2018-09-20,1728846800780188,519773001,0.028458,2,0,519773,7147,245,17,...,0,1,0,15,0,1003,3,10231,"[13, 24]","[knit, wool]"
1,2018-09-20,12679047700498299353,519773001,0.035576,2,0,519773,7147,245,17,...,0,1,0,15,0,1003,3,10231,"[13, 24]","[knit, wool]"
2,2018-09-20,17920410454051211922,519773001,0.035576,2,0,519773,7147,245,17,...,0,1,0,15,0,1003,3,10231,"[13, 24]","[knit, wool]"
3,2018-09-21,12044778652893604504,519773001,0.035576,2,0,519773,7147,245,17,...,0,1,0,15,0,1003,3,10231,"[13, 24]","[knit, wool]"
4,2018-09-21,12044778652893604504,519773001,0.035576,2,0,519773,7147,245,17,...,0,1,0,15,0,1003,3,10231,"[13, 24]","[knit, wool]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31788319,2020-09-22,17026193828065643786,533261032,0.033881,2,104,533261,280,256,29,...,5,4,1,44,2,1002,2,185,"[4, 0]","[cotton, jersey]"
31788320,2020-09-22,17104273831947945561,875646001,0.033881,2,104,875646,3070,272,0,...,3,4,1,46,8,1009,5,31807,"[4, 3, 22]","[cotton, elastic, twill]"
31788321,2020-09-22,17843582181630128591,757903026,0.015237,1,104,757903,357,80,28,...,6,1,0,65,29,1019,1,166,[-1],None
31788322,2020-09-22,17970366705591601158,892893001,0.135576,2,104,892893,29006,252,2,...,0,1,0,14,36,1003,3,27251,"[13, 45, 24]","[knit, cashmere, wool]"
31788323,2020-09-22,18044299313717096635,880582004,0.101678,2,104,880582,17356,262,6,...,2,3,3,31,43,1007,9,11126,[43],[filling]

In [20]:
tr_this_fall = tr[(tr.week > 101) & (tr.week <= 104)]
tr_this_fall.shape

(760209, 32)

In [21]:
tr_this_fall

,t_dat,customer_id,article_id,price,sales_channel_id,week,product_code,prod_name,product_type_no,product_type_name,...,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc,fabric_num,fabric_name
252,2020-09-03,5316172648860712200,578472001,0.076254,2,102,578472,37340,263,38,...,0,1,0,19,40,1007,9,26053,[-1],None
253,2020-09-16,6474552940938576885,578472001,0.091508,2,104,578472,37340,263,38,...,0,1,0,19,40,1007,9,26053,[-1],None
6203,2020-09-10,5701871825794564345,613246004,0.021169,1,103,613246,5006,272,0,...,0,1,0,15,0,1009,5,3016,"[11, 12]","[denim, jeans]"
10396,2020-09-21,6949189610971841595,688873001,0.003373,1,104,688873,131,258,5,...,0,1,0,11,7,1010,6,22,[-1],None
10704,2020-09-11,2430626937109945466,673911002,0.013542,1,103,673911,11338,94,16,...,6,1,0,64,20,1020,7,7204,"[3, 16]","[elastic, suede]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31788319,2020-09-22,17026193828065643786,533261032,0.033881,2,104,533261,280,256,29,...,5,4,1,44,2,1002,2,185,"[4, 0]","[cotton, jersey]"
31788320,2020-09-22,17104273831947945561,875646001,0.033881,2,104,875646,3070,272,0,...,3,4,1,46,8,1009,5,31807,"[4, 3, 22]","[cotton, elastic, twill]"
31788321,2020-09-22,17843582181630128591,757903026,0.015237,1,104,757903,357,80,28,...,6,1,0,65,29,1019,1,166,[-1],None
31788322,2020-09-22,17970366705591601158,892893001,0.135576,2,104,892893,29006,252,2,...,0,1,0,14,36,1003,3,27251,"[13, 45, 24]","[knit, cashmere, wool]"
31788323,2020-09-22,18044299313717096635,880582004,0.101678,2,104,880582,17356,262,6,...,2,3,3,31,43,1007,9,11126,[43],[filling]

In [22]:
cus_this_fall = tr_this_fall["customer_id"].unique().tolist()
len(cus_this_fall)

182321

In [23]:
art_this_fall = tr_this_fall["article_id"].unique().tolist()
len(art_this_fall)

25899

#### ARTICLES MATRIX

In [24]:
index_to_art_id = pd.DataFrame({'article_id': art_this_fall})

In [25]:
index_to_art_id.sort_values(by='article_id')
#df_sorted.reset_index(drop=True, inplace=True)
index_to_art_id['original_index'] = index_to_art_id.index
index_to_art_id.head()

   article_id  original_index
0   578472001               0
1   613246004               1
2   688873001               2
3   673911002               3
4   568601006               4

In [26]:
articles_this_fall = articles[articles['article_id'].isin(art_this_fall)]
articles_this_fall.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc,fabric_num,fabric_name
1,108775044,108775,12855,253,9,0,1010016,0,10,2,...,0,1,0,16,30,1002,2,8834,[0],[jersey]
6,111565001,111565,19688,304,37,7,1010016,0,9,0,...,7,1,0,62,31,1021,13,21534,[2],[nylon]
8,111586001,111586,36001,273,15,1,1010016,0,9,0,...,7,1,0,62,31,1021,13,28038,[-1],None
9,111593001,111593,36000,304,37,7,1010016,0,9,0,...,7,1,0,62,31,1021,13,28003,[3],[elastic]
10,111609001,111609,35999,304,37,7,1010016,0,9,0,...,7,1,0,62,31,1021,13,28005,[-1],None

In [27]:
articles_this_fall_fabric = articles_this_fall[['article_id', 'fabric_num']]
articles_this_fall_style = articles_this_fall[["article_id", "graphical_appearance_name", "perceived_colour_master_name", "section_name", "index_group_name"]]

print(articles_this_fall_fabric.shape)
print(articles_this_fall_style.shape)

(25899, 2)
(25899, 5)

In [28]:
from sklearn.preprocessing import MultiLabelBinarizer

#I make sure that every value inside fabric num lists is counted as a possible value
mlb = MultiLabelBinarizer(sparse_output=True)

articles_this_fall_fabric = articles_this_fall_fabric.join(
            pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(articles_this_fall_fabric.pop('fabric_num')),
                index=articles_this_fall_fabric.index,
                columns=mlb.classes_))

articles_this_fall_fabric.head()

,article_id,-1,0,1,2,3,4,5,6,7,...,91,92,94,95,97,99,100,101,103,104
1,108775044,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,111565001,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,111586001,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,111593001,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,111609001,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
#remove article id
articles_this_fall_fabric = articles_this_fall_fabric.drop(['article_id'], axis=1)

In [30]:
one_hot_encoded = pd.get_dummies(articles_this_fall[['graphical_appearance_name', 'perceived_colour_master_name', 'section_name', 'index_group_name']], columns=['graphical_appearance_name', 'perceived_colour_master_name', 'section_name', 'index_group_name'])
one_hot_encoded = one_hot_encoded.astype(int)
one_hot_encoded

,graphical_appearance_name_0,graphical_appearance_name_1,graphical_appearance_name_2,graphical_appearance_name_3,graphical_appearance_name_4,graphical_appearance_name_5,graphical_appearance_name_6,graphical_appearance_name_7,graphical_appearance_name_8,graphical_appearance_name_9,...,section_name_49,section_name_50,section_name_52,section_name_54,section_name_55,index_group_name_0,index_group_name_1,index_group_name_2,index_group_name_3,index_group_name_4
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105534,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
105536,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
105537,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
105538,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
105539,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [31]:
"""
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

column_transformer = ColumnTransformer(
    transformers=[
        ('one_hot_encoder', OneHotEncoder(), style_cols)
    ],
    remainder='passthrough'
)

sparse_matrix_style = column_transformer.fit_transform(articles_this_fall_style)
"""

"\nfrom sklearn.preprocessing import OneHotEncoder\nfrom sklearn.compose import ColumnTransformer\n\ncolumn_transformer = ColumnTransformer(\n    transformers=[\n        ('one_hot_encoder', OneHotEncoder(), style_cols)\n    ],\n    remainder='passthrough'\n)\n\nsparse_matrix_style = column_transformer.fit_transform(articles_this_fall_style)\n"

In [32]:
merged_matrix_art = one_hot_encoded.join(articles_this_fall_fabric)
merged_matrix_art

,graphical_appearance_name_0,graphical_appearance_name_1,graphical_appearance_name_2,graphical_appearance_name_3,graphical_appearance_name_4,graphical_appearance_name_5,graphical_appearance_name_6,graphical_appearance_name_7,graphical_appearance_name_8,graphical_appearance_name_9,...,91,92,94,95,97,99,100,101,103,104
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105534,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
105536,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
105537,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
105538,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
105539,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
merged_matrix_art = csr_matrix(merged_matrix_art.values)
print(merged_matrix_art)

  (0, 0)	1
  (0, 31)	1
  (0, 79)	1
  (0, 103)	1
  (0, 109)	1
  (1, 0)	1
  (1, 29)	1
  (1, 80)	1
  (1, 103)	1
  (1, 111)	1
  (2, 0)	1
  (2, 29)	1
  (2, 80)	1
  (2, 103)	1
  (2, 108)	1
  (3, 0)	1
  (3, 29)	1
  (3, 80)	1
  (3, 103)	1
  (3, 112)	1
  (4, 0)	1
  (4, 29)	1
  (4, 80)	1
  (4, 103)	1
  (4, 108)	1
  :	:
  (25894, 103)	1
  (25894, 112)	1
  (25894, 122)	1
  (25895, 1)	1
  (25895, 43)	1
  (25895, 61)	1
  (25895, 103)	1
  (25895, 109)	1
  (25896, 6)	1
  (25896, 29)	1
  (25896, 65)	1
  (25896, 106)	1
  (25896, 112)	1
  (25896, 113)	1
  (25896, 122)	1
  (25897, 0)	1
  (25897, 29)	1
  (25897, 64)	1
  (25897, 103)	1
  (25897, 117)	1
  (25898, 0)	1
  (25898, 29)	1
  (25898, 61)	1
  (25898, 103)	1
  (25898, 109)	1

In [34]:
merged_matrix_art.shape

(25899, 200)

#### MATRIX FOR CUSTOMER STYLE

In [35]:
index_to_cus_id = pd.DataFrame({'customer_id': cus_this_fall})

In [36]:
index_to_cus_id.sort_values(by='customer_id')
#df_sorted.reset_index(drop=True, inplace=True)
index_to_cus_id['original_index'] = index_to_cus_id.index
index_to_cus_id.head()

           customer_id  original_index
0  5316172648860712200               0
1  6474552940938576885               1
2  5701871825794564345               2
3  6949189610971841595               3
4  2430626937109945466               4

In [37]:
customers_this_fall_fabric = tr_this_fall[['customer_id', 'fabric_num']]
customers_this_fall_style = tr_this_fall[["customer_id", "graphical_appearance_name", "perceived_colour_master_name", "section_name", "index_group_name"]]

print(customers_this_fall_fabric.shape)
print(customers_this_fall_style.shape)

(760209, 2)
(760209, 5)

In [38]:
index_to_cus_id.shape

(182321, 2)

In [39]:
from sklearn.preprocessing import MultiLabelBinarizer

#I make sure that every value inside fabric num lists is counted as a possible value
mlb = MultiLabelBinarizer(sparse_output=True)

customers_this_fall_fabric = customers_this_fall_fabric.join(
            pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(customers_this_fall_fabric.pop('fabric_num')),
                index=customers_this_fall_fabric.index,
                columns=mlb.classes_))

customers_this_fall_fabric.head()

,customer_id,-1,0,1,2,3,4,5,6,7,...,91,92,94,95,97,99,100,101,103,104
252,5316172648860712200,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
253,6474552940938576885,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6203,5701871825794564345,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10396,6949189610971841595,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10704,2430626937109945466,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
customers_this_fall_fabric = customers_this_fall_fabric.groupby('customer_id').sum()
customers_this_fall_fabric.head()

KeyboardInterrupt:

In [ ]:
"""
df_grouped = df.groupby('customer_id').sum()

df_grouped.head()

df_grouped.to_csv("data/df_grouped.csv")

customers_this_fall_fabric = pd.read_csv("data/df_grouped.csv")
customers_this_fall_fabric.head()

customers_this_fall_fabric['customer_id'] = index_to_cus_id["customer_id"]
customers_this_fall_fabric
"""

In [ ]:
customers_this_fall_fabric.sort_values(by='customer_id')

In [ ]:
sparse_cus_fabric = csr_matrix(customers_this_fall_fabric.values)
sparse_cus_fabric

In [ ]:
one_hot_encoded = pd.get_dummies(tr_this_fall[['graphical_appearance_name', 'perceived_colour_master_name', 'section_name', 'index_group_name']], columns=['graphical_appearance_name', 'perceived_colour_master_name', 'section_name', 'index_group_name'])
one_hot_encoded = one_hot_encoded.astype(int)
one_hot_encoded

In [ ]:
one_hot_encoded['customer_id'] = tr_this_fall['customer_id']
one_hot_encoded.head()

In [ ]:
one_hot_encoded = one_hot_encoded.groupby('customer_id').sum()
one_hot_encoded.head()

In [ ]:
one_hot_encoded.shape

In [ ]:
merged_cus = pd.merge(customers_this_fall_fabric, one_hot_encoded, on="customer_id", how="inner")
merged_cus.sort_values(by='customer_id')
merged_cus

In [ ]:
merged_cus = merged_cus.reset_index()
merged_cus

In [ ]:
merged_cus = merged_cus.drop("customer_id", axis=1)

In [ ]:
merged_cus.shape

In [ ]:
merged_cus.head()

In [ ]:
merged_cus.columns = merged_cus.columns.astype(str)

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
scaler = MinMaxScaler()
merged_cus = scaler.fit_transform(merged_cus)

In [ ]:
matrice_sparsa_2 = csr_matrix(merged_cus)
print(matrice_sparsa_2)

In [ ]:
similarity_matrix_sparse = cosine_similarity(matrice_sparsa_2,merged_matrix_art, dense_output=False)

In [ ]:
import util
%run util.py

In [ ]:
topk = get_top_K_values(similarity_matrix_sparse, 2)
print(topk)

In [ ]:
toprank = get_top_K_ranks(similarity_matrix_sparse, 3)
print(toprank)

In [ ]:
# Supponiamo che 'X_top_K' sia la tua matrice sparsa
V = toprank.data  # Valori non zero
U = toprank.indices  # Indici delle righe corrispondenti ai valori non zero
I = toprank.indptr  # Indici delle colonne corrispondenti ai valori non zero

# Ad esempio, puoi stampare i primi 5 valori, indici delle righe e indici delle colonne
print("Valori (V):", V[:3])
print("Indici delle righe (U):", U[:3])
print("Indici delle colonne (I):", I[:3])

In [ ]:
num_elements = len(V)

neg_train = pd.DataFrame(columns=['id', 'index_1', 'index_2', 'index_3'])

# Per ogni primo elemento, estrai gli indici corrispondenti
for i in range(len(I) - 1):
    start_idx = I[i]
    end_idx = I[i + 1]
    
    # Gli indici corrispondenti al primo elemento
    first_element_indices = U[start_idx:end_idx]
    
    df_to_append = pd.DataFrame({'id': [i], 'index_1': [first_element_indices[0]],
                                 'index_2': [first_element_indices[1]],
                                 'index_3': [first_element_indices[2]]})
    neg_train = pd.concat([neg_train, df_to_append], ignore_index=True)
    #print(f"Primo elemento {i}: {first_element_indices}")

In [ ]:
neg_train

In [ ]:
neg_train.to_csv("data/cand_1")

In [ ]:
neg_train = pd.read_csv("data/cand_1")

In [ ]:
neg_train["customer_id"] = index_to_cus_id["customer_id"]
neg_train.head()

In [ ]:
index_to_art_id

In [ ]:
neg_train['index_1_id'] = neg_train['index_1'].apply(lambda x: index_to_art_id.loc[x, 'article_id'] if x in index_to_art_id.index else None)

In [ ]:
neg_train['index_2_id'] = neg_train['index_2'].apply(lambda x: index_to_art_id.loc[x, 'article_id'] if x in index_to_art_id.index else None)
neg_train['index_3_id'] = neg_train['index_3'].apply(lambda x: index_to_art_id.loc[x, 'article_id'] if x in index_to_art_id.index else None)

In [ ]:
neg_train

In [ ]:
neg_train_102103 = neg_train[["customer_id", 'index_1_id', 'index_2_id', 'index_3_id']]
neg_train_102103.head()

In [ ]:
melted_df = pd.melt(neg_train_102103, id_vars=['customer_id'], var_name='index_type', value_name='article_id')

# Sort the DataFrame based on customer_id and index_id for better visibility
melted_df.sort_values(by=['customer_id', 'article_id'], inplace=True)

melted_df.head()

In [ ]:
melted_df = melted_df.drop("index_type", axis=1)
melted_df.head()

In [ ]:
melted_df["purchased"] = 0

In [ ]:
tr_this_fall["purchased"] = 1

In [ ]:
tr_this_fall

In [ ]:
articles_this_fall

In [ ]:
melted_df['week'] = np.random.choice([102, 103], size=len(melted_df))
melted_df['sales_channel_id'] = np.random.choice([1, 2], size=len(melted_df))
melted_df

In [ ]:
condition = (transactions['week'] == 103)
filtered_data = transactions.loc[condition, 't_dat']
max_t_dat = filtered_data.max()
min_t_dat = filtered_data.min()
print(f"Valore massimo di t_dat: {max_t_dat}")
print(f"Valore minimo di t_dat: {min_t_dat}")

In [ ]:
import random
from datetime import datetime, timedelta

def random_date(start_date, end_date):
    return start_date + timedelta(seconds=random.randint(0, int((end_date - start_date).total_seconds())))

# Definisci gli intervalli di date per week 102 e 103
start_date_102 = datetime(2020, 9, 2)
end_date_102 = datetime(2020, 9, 8)

start_date_103 = datetime(2020, 9, 9)
end_date_103 = datetime(2020, 9, 15)

# Crea la nuova colonna t_dat
melted_df['t_dat'] = melted_df.apply(lambda row: random_date(start_date_102, end_date_102) if row['week'] == 102 else random_date(start_date_103, end_date_103), axis=1)
melted_df['t_dat'] = pd.to_datetime(melted_df['t_dat']).dt.date
melted_df

In [ ]:
avg_prices = tr_this_fall.groupby('article_id')['price'].mean().reset_index()
avg_prices

In [ ]:
melted_df = pd.merge(melted_df, avg_prices, on='article_id', how='left')
melted_df

In [ ]:
melted_df_tot = melted_df.merge(articles, on="article_id")
melted_df_tot

In [ ]:
melted_df_tot.shape

In [ ]:
tr_this_fall.shape

In [ ]:
data = pd.concat([tr_this_fall, melted_df_tot])
data.purchased.fillna(0, inplace=True)

In [ ]:
data

In [ ]:
data.drop_duplicates(['customer_id', 'article_id', 'week'], inplace=True)

In [ ]:
data.purchased.mean()

In [ ]:
data = pd.merge(data, customers, on='customer_id', how='left')
data